.validatorsBox{
    margin: 7% 30%;
    background-color: #f2f2f2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.alertMsg{
    width: 39%;
    position: fixed;
    top: 5%;
    left: 30%;
}